<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBekfKeYSKm_G8m2cC707Lj-ronBYLCnc</string>
	<key>GCM_SENDER_ID</key>
	<string>775240286453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetPlannerRacka</string>
	<key>PROJECT_ID</key>
	<string>kacpi-k-budget-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>kacpi-k-budget-planner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775240286453:ios:e17eb5a918a6a7aeb345bc</string>
</dict>
</plist>